<div class='container text-center'>
  <h2>
    <%= @fern.name %>'s Fern
  </h2>
</div>

<div id="disclaimer-warning" class='container text-center'>
  <h4>Disclaimer:</h4>
  <p>Interaction analysis is done by an advanced machine learning model. It is not perfect.
  Have fun, water your fern, and <b>don't take it too seriously.</b><br>
  </p>
</div>
<p></p>
<div class='container'>
  <div class='col-sm-4'>
  </div>
  <div class='col-sm-4 text-center'>
    <h4>Add Interaction</h4>
    <%= form_with url: fern_path(@fern.id), method: :patch, local: true do |f| %>
      <div class='form-group'>
        <% f.label :interaction, 'Interaction:' %>
        <%= f.text_area :interaction, rows: 8, class: 'form-control' %>
      </div>
      <%= f.submit 'Water Fern', class: 'btn btn-lg btn-primary' %>
    <% end %>
  </div>
</div>