<h3>
  Fern Name Goes Here
</h3>

<%= form_with url: "", method: :post, local: true do |f| %>
  <%= f.label :interaction %>
  <%= f.text_area :interaction, rows: 8 %>
  <%= f.submit 'Water Fern' %>
<% end %>