<div class='text-center'>
  <h2>Create Your New Shelf</h2>
</div>

<div class='col-sm-4'>
</div>
<div class='col-sm-4'>
<%= form_with url: '/shelves', method: :post, local: true do |f| %>
  <div class='form-group'>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit 'Create Shelf!', class: 'btn btn-lg btn-primary' %>
<% end %>
</div>
