<h2>Instructions</h2>
<h3>1. Plant A Fern</h3>
<p>Click <b>Plant a Fern</b> button. Your fern is an important person in your life.
You will be able to name your fern, choose a shelf group, and a preferned contact method.</p>

<h3>2. Water Your Fern</h3>
<p>Love Fern tracks the status of your relationships by analyzing the sentiment of your interactions.
The health of your fern can stay the same, be improved, or deteriorate based on the context and content of your message.
</p>
<p>
Copy and paste a message or conversation with the person your fern represents, and click <b>Water Fern</b>.
</p>
<p>
As your communications continue, keep watering your fern with new messages and work to improve its health with positive interactions!
</p>
<h3>3. Care For Your Fern</h3>
<p>If your fern's health gets too low, a <b>Fertilize Fern</b> button will appear.
Click it to get a suggestion for cool ideas to do together to improve your relationship.
</p>
<h3>4. Compost Your Fern</h3>
<p>If you wish to delete a fern from your greenhouse, no problem!  Simply click the <b>Compost Fern</b> button.
</p>