  <h2>Instructions</h2>
  <p>
  <h4>1. Sign in With Google</h4>
  When you first sign up, you will be prompted to create a fern. You will be able to name your fern, and choose a preferred contact method.</p>
  </p>
  <p>
  <h4>2. Water Your Fern</h4>
  When you've had a new interaction with your 'fern', you can update the health of your fern by clicking the "Water Fern" button.'
  Love Fern will analyze the sentiment of the message and update your fern accordingly.
  This will help you keep track of the current status of your relationship.
  </p>