// Love Fern Styling c2023
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

// Uncomment border for troubleshooting
* {
  box-sizing: border-box;
  // border: 1px solid red;
}

body {
  font-family: 'VT323', monospace;
  font-size: 200%;
  padding-top: 4rem;
  background-color: #99cf87;
  color: #2f2d2b;
}

 // Font Defaults
p {
  font-size: 1.25em;
}

 // Sizing and Spacing for Names & Bio Links
p.bio-links {
  font-size: 1.25em;
}

p.about-names {
  margin-top: 1rem;
  margin-bottom: -.5rem;
  font-size: 1.75em;
}

li {
  font-size: 1em;
}

// Headers
h1 {
  font-size: 3.50em;
  margin-top: 2.50rem;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 180%;
}

h4 {
  font-size: 160%;
}

h5 {
  font-size: 180%;
}

h6 {
  font-size: 180%;
}

// Nav Bar
.navbar {
  background-color: #705b44;
  box-shadow: 1pt 1pt 8pt #292d3580;
  border-bottom: 3px solid #705b44;
 }

// Navbar Text White
.navbar-default .navbar-nav > li > a {
  color: #f0f0f0;
}

 // Buttons
.btn-primary {
  background-color: #045a0490;
  border-bottom: 3px solid #705b44;
  font-size: 1.25em
}

.fern-buttons {
  margin: 3rem 0rem;
}

.non-block-button {
  margin: 0 1rem;
}

.has-bg-img {
  background-image: url('fern-shelf-perspective.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 80%;
  margin: 1em 0em;
}

// Bring Alert Box Down Below Nav Bar
.alert {
  margin-top: 3rem;
  box-shadow: 1pt 1pt 3pt #292d3580;
}

.form-control {
  font-size: 2rem;
}

// Style Disclaimer Warning on Interaction Page
#disclaimer-warning {
  width: 50%;
  border: 2px dashed rgb(98, 52, 0);
  margin-top: 1rem;
  padding: 0rem 1rem 2rem;
}

// Make Plant Footer Smaller, Lower
.plant-footer {
  width: 80%;
}

.container .pots {
  margin-left: 5rem;
}

// Sometimes You Need Some Space
.spacer-1 {
  margin-top: 1rem;
}

.spacer-2 {
  margin-top: 5rem;
}

// Vine HR Styling
.hr-vine {
  margin-top: 4rem;
  margin-bottom: -3rem;
  width: 100%;
}

// Shelves
.shelf-sign {
  background-image: url('shelf-sign.png');
  background-size: cover;
  border: 5px solid #4d3b29;
  width: 25%;
  box-shadow: 1pt 1pt 3pt #292d3580;
  border-radius: 1em;
}

// Fern Image
.fern-image {
  width: 80%;
}

.fern-show-image {
  width: 25%
}
